<template>
  <form @submit.prevent="generate">

    <div class="form-group">
      <input type="text" placeholder="input angka" class="form-control" v-model="angka">
      <tr>
        <th><button type="submit" class="btn btn-md btn-success">Generate Segitiga</button></th>
        <th><button type="submit" class="btn btn-md btn-success">Generate Bilangan Ganjil</button></th>
        <th><button type="submit" class="btn btn-md btn-success">Generate Bilangan Prima</button></th>
      </tr>

    </div>
  </form>

</template>
<script>
import axios from 'axios'
export default {
  data(){
    return{
      angka:''
    }
  },
  methods: {
    generate(){
      axios.post('http://localhost:3000/segitiga',this.angka).then((response) => {
        this.$router.push({
          angka:'post'
        });
        console.log(response.data)
      }).catch(error => {
        this.validation = error.response.data;
      })
    }
  }
}
</script>